#                          _                 _          _ 
#    ___  ___     _____  _| |_ ___ _ __   __| | ___  __| |
#   / _ \/ __|   / _ \ \/ / __/ _ \ '_ \ / _` |/ _ \/ _` |
#  |  __/\__ \  |  __/>  <| ||  __/ | | | (_| |  __/ (_| |
#   \___||___/___\___/_/\_\\__\___|_| |_|\__,_|\___|\__,_|
#           |_____|                                       

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_ace resource.cpy_autoprofiler command allow

#  __     __    _          
#  \ \   / /__ (_) ___ ___ 
#   \ \ / / _ \| |/ __/ _ \
#    \ V / (_) | | (_|  __/
#     \_/ \___/|_|\___\___|
setr voice_useNativeAudio true
setr voice_use2dAudio false
setr voice_use3dAudio false
setr voice_useSendingRangeOnly true
setr voice_enableUi 1
setr voice_enableProximityCycle 1
setr voice_defaultCycle "M"
setr voice_defaultRadioVolume 50
setr voice_defaultPhoneVolume 60
setr voice_defaultVoiceMode 2
setr voice_enablePhones 1
setr voice_enableRadios 1
setr voice_enableSubmix 1
setr voice_enableRadioAnim 1
setr voice_refreshRate 200
setr voice_defaultRadio "CAPITAL"
setr voice_uiRefreshRate 200
setr voice_allowSetIntent 1
setr voice_zoneRefreshRate "300"
setr voice_debugMode 0
setr voice_externalDisallowJoin 0 
setr voice_hideEndpoints 1
set game_useSynchronousAudio true
set mumble_maxClientsPerIP 1000
# setr voice_externalAddress "" 
# setr voice_externalPort ""

# Pool Size Settings
increase_pool_size "CMoveObject" 75               # Max: 75
increase_pool_size "FragmentStore" 14000          # Max: 14000
increase_pool_size "OcclusionInteriorInfo" 20     # Max: 20
increase_pool_size "OcclusionPathNode" 5000       # Max: 5000
increase_pool_size "OcclusionPortalEntity" 750    # Max: 750
increase_pool_size "OcclusionPortalInfo" 750      # Max: 750
increase_pool_size "PortalInst" 225               # Max: 225
increase_pool_size "ScaleformStore" 200           # Max: 200
increase_pool_size "StaticBounds" 5000            # Max: 5000
increase_pool_size "TxdStore" 26000               # Max: 26000

increase_pool_size "AttachmentExtension" 430               # Max: 430
increase_pool_size "CLightEntity" 1000               # Max: 1000
increase_pool_size "EntityDescPool" 20480               # Max: 20480
increase_pool_size "InteriorProxy" 450               # Max: 450
increase_pool_size "LightEntity" 1000               # Max: 1000
increase_pool_size "netGameEvent" 400               # Max: 400

# the client rarely sets state bags so this value should be extremely low
set rateLimiter_stateBag_rate 10
set rateLimiter_stateBag_burst 30

# setting this to 0 will cause a server assert
set rateLimiter_stateBagFlood_rate 1
set rateLimiter_stateBagFlood_burst 1

# clients should never sync large state to the server
set rateLimiter_stateBagSize_rate 10000
set rateLimiter_stateBagSize_burst 10000

# FiveM Security #
setr sv_stateBagStrictMode false
set ox:ignoreSecurityAdvisory ["stateBagStrictMode"]
sv_enableNetworkedSounds false
sv_enableNetworkedScriptEntityStates false
sv_enableNetworkedPhoneExplosions false
sv_filterRequestControl 4
setr sv_experimentalNetGameEventHandler false
setr game_enablePlayerJumpRagdollControl false
setr game_enablePlayerRagdollOnCollision false
setr game_sanitizeRagdollEvents true
setr sv_enableNetEventReassembly true
setr sv_enableNetworkedScriptEntityStates false
set cc_culling_radius 50

# lation UI #
setr lation:locale "en" # "es", etc
setr lation:position:notify "center-right"
setr lation:position:menu "offcenter-right"
setr lation:position:textui "right-center"