#    ___             ____                   
#   / _ \ _ __   ___/ ___| _   _ _ __   ___ 
#  | | | | '_ \ / _ \___ \| | | | '_ \ / __|
#  | |_| | | | |  __/___) | |_| | | | | (__ 
#   \___/|_| |_|\___|____/ \__, |_| |_|\___|
#                          |___/            

onesync_forceMigration true
onesync_distanceCulling true
onesync_radiusFrequency true
onesync_distanceCullVehicles true
onesync_population false