#   ____                                         
#  |  _ \ ___  ___  ___  _   _ _ __ ___ ___  ___ 
#  | |_) / _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
#  |  _ <  __/\__ \ (_) | |_| | | | (_|  __/\__ \
#  |_| \_\___||___/\___/ \__,_|_|  \___\___||___/
                                               
## [CFX-CS-FiveM] - FiveM Base / Default Resources ##
ensure [CFX-CS-FiveM]

## Core Libraries (Must start before ESX & Inventory) ##
ensure ox_lib
ensure ox_target

## [CFX-CS-Core] - Database & ESX Framework ##
ensure [CFX-CS-Core]

## [CFX-CS-Ox] - Ox Ecosystem (ox_inventory, ox_doorlock) ##
ensure [CFX-CS-Ox]

## [CFX-CS-Voice] - Voice Communication (pma-voice) ##
ensure [CFX-CS-Voice]

## [CFX-CS-Standalone] - Standalone Scripts & Utilities ##
ensure [CFX-CS-Standalone]

## [CFX-CS-Scripts] - Core Gameplay & Server Scripts ##
ensure [CFX-CS-Scripts]

## [CFX-CS-Hud] - HUD & Interface ##
ensure [CFX-CS-Hud]

## [CFX-CS-Phone] - Phone System ##
ensure [CFX-CS-Phone]

## [CFX-CS-Garage] - Garages & Dealerships ##
ensure [CFX-CS-Garage]

## [CFX-CS-Jobs] - Jobs & Services (Police, EMS, Mechanic, MDT, Dispatch, Prison) ##
ensure [CFX-CS-Jobs]

## [CFX-CS-Sidejobs] - Sidejobs & Activities (Autofarm, etc.) ##
ensure [CFX-CS-Sidejobs]

## [CFX-CS-Robbery] - Robbery & Turf Systems ##
ensure [CFX-CS-Robbery]

## [CFX-CS-Maps] - Maps, Interiors & MLOs ##
ensure [CFX-CS-Maps]

## [CFX-CS-Cars] - Custom Vehicles ##
ensure [CFX-CS-Cars]

## [CFX-CS-EUP] - Clothing & EUP ##
ensure [CFX-CS-EUP]

## [CFX-CS-Paid] - Paid & Premium Assets ##
ensure [CFX-CS-Paid]